div#addTarefa {
    background-color: #dddddd87;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

div#btn-salvar-tarefas {
    display: flex;
    flex-direction: row;
    justify-content: right;
    float: right;
    margin: 0 2px;
}

#addTarefa h4 {
    color: #3e3b3be0;
    font-size: 1.1em;
    margin: 7px 0px;
}

#addTarefaTabela {
    color: white;
    background-color: var(--laranja);
    border-color: var(--laranja);
}

.datas-dias {
    display: flex;
    flex-wrap: wrap;
}

.data-item {
    flex-flow: row wrap;
}

#sp-salvar-sprint {
    background-color: var(--laranja);
    border: 1px solid var(--laranja);
    float: right;
}

@media(max-width: 725px) {
    .sp-cadastro-sprint {
        display: flex;
        flex-direction: column;
    }
}

button#addSprint {
    width: 120px;
    align-self: flex-end;
}

div#dias_sprint_wrapper {
    width: 100%;
}

td:nth-child(7) {
    display: flex;
}

img.delete {
    margin: 0 4px;
}

div#add_dias_sprint_wrapper {
    width: 100%;
}