.edit, .delete {
    cursor: pointer;
}

#addColaborador a.btn {
    float: right;
    background-color: var(--verde);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#addColaborador a.btn:hover {
    background-color: #027368db;
    color: white;
}

div#addColaborador, div#tabela-colaboradores_wrapper {
    width: 100%;
}

.left {
    float: left;
}

#tabela-colaboradores_filter form {
    float: right;
}