div#addTarefa {
    padding: 15px 0;
}

#addTarefa .row form {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
}

div#sabtn-right {
    justify-content: flex-end;
}

span.select2.select2-container.select2-container--default {
    width: 100% !important;
}