div#addTarefa {
    padding: 15px 0;
    float: right;
}

#addTarefa .row form {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
}

div#sabtn-right {
    justify-content: flex-end;
}

span.select2.select2-container.select2-container--default {
    width: 100% !important;
}

a#salvar-sprint {
    color: white;
}

.row .form-group {
    flex-direction: column;
    display: flex;
}

input#bug {
    width: 15px;
}

td:nth-child(5) {
    display: flex;
    justify-content: center;
}

div#addTarefa {
    display: flex;
    justify-content: flex-end;
}

#tabela-sprint td:nth-child(7) {
    display: flex;
}