:root {
    --roxo: rgb(93, 104, 166);
    --verde: #027368;
    --amarelo: rgb(242, 190, 92);
    --laranja: rgb(242, 145, 61);
    --vermelho: rgb(242, 94, 94);
    --cinza: #a9b9d347;
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fafafa0f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: -webkit-fill-available;
    margin: 0;
}

#menu {
    background-color: var(--verde);
    display: flex;
    flex-wrap: nowrap;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
}

#menu img.logo {
    width: 70px;
}

div#menu-itens {
    display: flex;
    justify-content: space-around;
}

div#menu-itens a {
    padding: 0 10px;
}

a {
    text-decoration: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

a:hover {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

/* .sp-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
} */

.sp-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div#ds_conteudo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    width: calc(100% - 20%);
    margin-top: 6px;
}

#selecionarSprint {
    flex: calc(5/16);
    background-color: var(--cinza);
    margin: 3px;
    display: flex;
    flex-direction: column;
}

#grafico {
    flex: calc(11/16);
    background-color: var(--cinza);
    margin: 3px;
}

#selecionar-sprints {
    flex: 1;
    word-wrap: normal;
    margin: 9px;
    border: 1px solid var(--roxo);
    font-size: 22px;
}

div#footer {
    background-color: var(--verde);
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

img.logo-footer {
    width: 76px;
}

div#desenvolvedor {
    padding: 10px;
    font-size: 13px;
    font-weight: 300;
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ds_conteudo form {
    display: flex;
    flex: 1;
    flex-direction: column;
}

div#dias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#dias .form-group {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#editar {
    color: var(--verde);
}

#excluir {
    color: var(--vermelho);
}

.sp_titulo {
    font-size: 1.7rem;
    color: var(--laranja);
    margin-top: 10px;
}

.sp_divisao {
    width: 100%;
    margin-top: 0px;
    border-top: outset;
    border-color: var(--laranja);
}

div#editarSprint {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px 12px;
    align-items: center;
}

#editarSprint a.btn {
   
    color: white;
    margin: 0 5px;
}
a#spt-editarSprint {
    background-color: var(--laranja);
}

a#spt-criarSprint {
    background-color: var(--verde) !important;
}

select#colaborador {
    padding: 6px 2px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #ced4da;
    font-size: 1rem;
}

@media(max-width: 500px) {
    div#ds_conteudo {
        flex-direction: column;
    }
}

div#info-sprint {
    display: flex;
    justify-content: left;
    margin-top: 10px;
}

.container {
    height: 100%;
}

#info-sprint label {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #e9eef2;
    margin: 0 2px;
    padding: 1px 2px 1px 9px;
    justify-content: center;
    text-align: center;
}

#info-sprint div {
    display: flex;
    width: 90%;
    margin-top: 20px;
}

#info-sprint div .form-group {
    margin: 0px;
    padding: 0px;
}

span#nome-sprint, span#colaborador-sprint, span#dias-sprint {
    font-weight: 400;
    margin-left: 6px;
}

#info-sprint div h3 {
    font-size: 1.8em;
    text-align: center;
}

#tarefas-form {
    display: flex;
    flex-direction: column;    
    margin: 0 15px auto;
    padding: 0;
}

#btn-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 1px;
}

div#mensagem {
    display: none;
    background-color: #ec9539;
    padding: 2px 9px;
    margin: 3px 11px 8px 20px;
    color: white;
    border: 1px solid #ec9539;
    border-radius: 3px;
    font-size: 0.9rem;
}

.delete:hover, img.edt_delete:hover {
    background-color: #ff000029;
    border-radius: 3px;
}

.edit:hover {
    background-color: #3bda3b4a;;
    border-radius: 3px;
}

a#addDia, a#edt_addDia {
    margin-bottom: 8px;
}

div#add_dia {
    display: flex;
}

input#data, input#edt_data {
    flex: 1;
    margin-right: 13px;
}

img.tarefas {
    width: 25px;
    cursor: pointer;
}

.scrum {
    display: flex;
    margin-bottom: 10px;
}

div#to-do, div#in-progress, div#done {
    flex: 1;
    background-color: gainsboro;
    margin: 1px;
}

#todo p.status_tarefa {
    background-color: var(--cinza);
}

#in-progress p.status_tarefa {
    background-color: var(--amarelo);
}

#done p.status_tarefa {
    background-color: #198c33;
}

#to-do .task .task_titulo {
    background-color: #b5b0b0;
}

#in-progress .task .task_titulo {
    background-color: #f3aa6c;
}

#done .task .task_titulo {
    background-color: #63b776;
}

#done .task {
    background-color: #28a745;
}
#to-do .task {
    background-color: grey;
}
#in-progress .task {
    background-color: var(--laranja);
}

.status_tarefa {
    text-align: center;
    color: white;
    font-size: 1.1rem;
    border: 1px solid #fff;
    margin: 0 -1px;
}

div#sprint {
    margin: 15px 0px;
}

.task {
    background-color: #a9a59d;
    border-radius: 3px;
    color: white;
    margin: 7px;
    cursor: grab;
}

.task_head {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
}

.task_horas_estimada img {
    align-self: center;
    width: 20px;
    padding-bottom: 2px;
}
.task_titulo {
    padding: 3px 10px;
    background-color: #585555;
    border-radius: 3px;
}