:root {
    --roxo: rgb(93, 104, 166);
    --verde: #027368;
    --amarelo: rgb(242, 190, 92);
    --laranja: rgb(242, 145, 61);
    --vermelho: rgb(242, 94, 94);
    --cinza: #a9b9d347;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fafafa0f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: -webkit-fill-available;
    margin: 0;
}

#menu {
    background-color: var(--verde);
    display: flex;
    flex-wrap: nowrap;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
}

#menu img.logo {
    width: 70px;
}

div#menu-itens {
    display: flex;
    justify-content: space-around;
    width: 270px;
}

a {
    text-decoration: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

a:hover {
    /* color: var(--roxo); */
    font-size: 18px;
    color: white;
    text-decoration: none;
}

div#conteudo {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10px;
    flex-wrap: nowrap;
}

#selecionarSprint {
    flex: calc(5/16);
    background-color: var(--cinza);
    margin: 3px;
    display: flex;
    flex-direction: column;
}

#grafico {
    flex: calc(11/16);
    background-color: var(--cinza);
    margin: 3px;
}

#selecionar-sprints {
    word-wrap: normal;
    margin: 9px;
    border: 1px solid var(--roxo);
    font-size: 22px;
}

div#footer {
    background-color: var(--verde);
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

img.logo-footer {
    width: 76px;
}

div#desenvolvedor {
    padding: 10px;
    font-size: 13px;
    font-weight: 300;
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#conteudo form {
    display: flex;
    flex: 1;
    flex-direction: column;
}

div#dias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#dias .form-group {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#editar {
    color: var(--verde);
}

#excluir {
    color: var(--vermelho);
}